extends common/layout

block main
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        each category in announcementsOfCategoryPage.categories
          li.categories-list__item
            a.category-tile.category-tile--default(href=`/offers/category/${category.id}`)
              span.category-tile__image
                img(src=`/img/cat0${category.id + 1}.jpg`, srcset=`/img/cat0${category.id + 1}@2x.jpg 2x`, alt='Иконка категории')
              span.category-tile__labelk
                | #{category.category}
                span.category-tile__qty.js-qty #{category.categorycount}
    section.tickets-list
      h2.visually-hidden Предложения из категории электроника
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title
            | #{announcementsOfCategoryPage.categoryInfo.category}
            b.js-qty #{announcementsOfCategoryPage.categoryInfo.categorycount}
        ul
          each announcement in announcementsOfCategoryPage.announcementsOfCategory
            li.tickets-list__item
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`/img/${announcement.image}.jpg`, srcset=`/img/${announcement.image}@2x.jpg 2x`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{announcement.type}
                  .ticket-card__categories
                    a(href='#') #{announcement.categories}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${announcement.id}`) #{announcement.title}
                    p.ticket-card__price
                      span.js-sum #{announcement.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{announcement.description}
        .tickets-list__pagination(hidden=announcementsOfCategoryPage.categoryInfo.categorycount)
          ul.pagination
            each paginationStep in announcementsOfCategoryPage.paginationStep
              li
                a.pagination__item(href=`/offers/category/${paginationStep.categoryId}?start=${paginationStep.step}&count=8&offset=desc` class=paginationStep.offset ? `active` : ``) #{paginationStep.step}
