extends common/layout

block header
  include common/header
  +header(`${mainPage.avatar ? mainPage.avatar : ''}`)(class=`header${mainPage.authorization ? ' header--logged' : ''}`)

block main
  main.page-content
    section.categories-list
      h1.visually-hidden Сервис объявлений "Куплю - продам"
      ul.categories-list__wrapper
        each category in mainPage.categories
          li.categories-list__item
            a.category-tile.category-tile--default(href=`/offers/category/${category.id}`)
              span.category-tile__image
                img(src=`/img/cat0${category.id + 1}.jpg`, srcset=`/img/cat0${category.id + 1}@2x.jpg 2x`, alt='Иконка категории')
              span.category-tile__label
                | #{category.category}
                span.category-tile__qty.js-qty #{category.categorycount}
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самое свежее
        ul
          each announcement in mainPage.newAnnouncements
            li.tickets-list__item
              .ticket-card.ticket-card--color01
                .ticket-card__img
                  img(src=`/upload/${announcement.image}`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{announcement.type}
                  .ticket-card__categories
                     each categories in announcement.categories
                       a(href=`${mainPage.FRONTEND_URL}/offers/category/${categories.id}`) #{categories.category}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${announcement.id}`) #{announcement.title}
                    p.ticket-card__price
                      span.js-sum #{announcement.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{announcement.description}
    section.tickets-list
      h2.visually-hidden Самые обсуждаемые предложения
      .tickets-list__wrapper
        .tickets-list__header
          p.tickets-list__title Самые обсуждаемые
        ul
          each mostDiscussed in mainPage.mostDiscussed
            li.tickets-list__item
              .ticket-card.ticket-card--color09
                .ticket-card__img
                  img(src=`/upload/${mostDiscussed.image}`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{mostDiscussed.type}
                  .ticket-card__categories
                    a(href='#') #{mostDiscussed.categories}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${mostDiscussed.id}`) #{mostDiscussed.title}
                    p.ticket-card__price
                      span.js-sum #{mostDiscussed.sum}
                      |  ₽
                  .ticket-card__desc
                    p #{mostDiscussed.description}
