extends common/layout

block main
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='/offers/add')
            span Новая публикация
        ul
          each announcement in announcements
            li.tickets-list__item.js-card
              .ticket-card.ticket-card--color08
                .ticket-card__img
                  img(src=`/img/${announcement.image}.jpg`, srcset=`/img/${announcement.image}@2x.jpg 2x`, alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{announcement.type}
                  .ticket-card__categories
                    a(href='#') #{announcement.categories ? announcement.categories[0] : ``}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href='/offers/3') #{announcement.title}
                    p.ticket-card__price
                      span.js-sum #{announcement.sum}
                      |  ₽
                button.ticket-card__del.js-delete(type='button') Удалить
